{
  "llm": {
    "model": "qwen3-next-80b-a3b-instruct",
    "api_key": "",
    "base_url": "https://dashscope.aliyuncs.com/compatible-mode/v1"
  },
  "translate": {
    "service": "微软翻译",
    "need_reflect_translate": false,
    "deeplx_endpoint": "",
    "batch_size": 10,
    "thread_num": 10
  },
  "transcribe": {
    "model": "Whisper Service",
    "output_format": "SRT",
    "language": "AUTO"
  },
  "whisper": {
    "model": "large-v3-turbo"
  },
  "faster_whisper": {
    "program": "faster-whisper-xxl.exe",
    "model": "large-v3-turbo",
    "model_dir": "",
    "device": "cuda",
    "vad_filter": true,
    "vad_threshold": 0.4,
    "vad_method": "silero_v4",
    "ff_mdx_kim2": false,
    "one_word": true,
    "prompt": ""
  },
  "whisper_api": {
    "api_base": "",
    "api_key": "",
    "model": "",
    "prompt": ""
  },
  "whisper_service": {
    "base_url": "http://192.168.50.50:9000",
    "encode": true,
    "task": "transcribe",
    "vad_filter": true,
    "output": "srt",
    "prompt": ""
  },
  "subtitle": {
    "need_optimize": false,
    "need_translate": false,
    "need_split": false,
    "target_language": "简体中文",
    "max_word_count_cjk": 28,
    "max_word_count_english": 20,
    "custom_prompt_text": ""
  },
  "video": {
    "soft_subtitle": false,
    "need_video": true,
    "quality": "中等质量",
    "use_subtitle_style": false
  },
  "subtitle_style": {
    "style_name": "default",
    "layout": "译文在上",
    "preview_image": "",
    "render_mode": "圆角背景",
    "rounded_bg_font_name": "LXGW WenKai",
    "rounded_bg_font_size": 52,
    "rounded_bg_color": "#191919C8",
    "rounded_bg_text_color": "#FFFFFF",
    "rounded_bg_corner_radius": 12,
    "rounded_bg_padding_h": 28,
    "rounded_bg_padding_v": 14,
    "rounded_bg_margin_bottom": 60,
    "rounded_bg_line_spacing": 10,
    "rounded_bg_letter_spacing": 0
  },
  "cache": {
    "enabled": true
  },
  "work_dir": "work-dir"
}
